.container {
  color: linear-gradient(
    90deg,
    #ec6192,
    #ec4c34,
    #fdb009,
    #ebde56,
    #bbc754,
    #eb5d53
  );
}

/* https://codepen.io/icebob/pen/WvezpR */
/* https://codepen.io/arcs/pen/BodWvJ */
/* https://codepen.io/MaciejCaputa/pen/yJNYrZ */

/* https://whimsical.com/devrev-VapcSnGDYtkp4E3Zn4ormK */

/* 
@include keyframes(dash) {
	0% {
		@include transform(rotate(0));
	}
	100% {
		@include transform(rotate(360deg));
	}
} */

/* :after {
  position: absolute;
  content: "";
  left: 37px;
  top: -3px;
  width: 200px;
  height: 200px;
  border: 3px dashed rgba(250, 176, 0, 0.5);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-animation: dash 20s infinite linear;
  -webkit-animation: dash 20s infinite linear;
  animation: dash 20s infinite linear;
} */
/* 
<div class="user selected" style="opacity: 0.6; transform: matrix(1, 0, 0, 1, 0, 0);">
      <div class="photo"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/102308/walter_white_by_rapsag.d6k88l8_(1).jpg"></div>
      <div class="info">
        <div class="name">Walter White</div>
        <div class="nickName">Heisenberg</div>
      </div>
      <dl>
        <dt>Born</dt>
        <dd>California, USA</dd>
        <dt>DOB</dt>
        <dd>1956-03-07</dd>
        <dt>E-mail</dt>
        <dd>heisenberg@breakingbad.com</dd>
      </dl>
      <div class="funcs">
        <div class="left">
          <div class="icon status fa fa-edit" title="Status"></div>
          <div class="icon delete fa fa-trash" title="Delete"></div>
        </div>
        <div class="right">
          <div class="icon clone fa fa-copy" title="Clone"></div>
          <div class="icon send fa fa-envelope" title="Send message"></div>
        </div>
      </div>
    </div> */
